<configuration>
  <appender name="STDERR" class="ch.qos.logback.core.ConsoleAppender">
    <!-- encoders are assigned the type
         ch.qos.logback.classic.encoder.PatternLayoutEncoder by default -->
    <encoder>
      <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
    </encoder>
  </appender>

  <root level="info">
    <appender-ref ref="STDERR" />
  </root>
  <logger name="ru.mipt.java2017.hw2.Client" level="debug" />
  <logger name="ru.mipt.java2017.hw2.Server" level="debug" />
</configuration>
